* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #262626;
    font-family: "Inter", sans-serif;
    overflow: hidden;
}

#app {
    min-height: 100%;
    position: relative;
}